<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Welcome to Traffio</title>
</head>
<body>
  <div class = "center">
  <h1>Welcome to Traffio</h1> 
        <br>
        <div class = "row"> 
        <a href="/flashcard">Start learning with flash cards</a>
      </div>
        <br>
        <div class = "row">
        <a href="/test">Take a test</a>
      </div>
      </div>
</body>
</html>